click
click-spinner
mcstatus
pygtail
psutil
watchdog
-e git+ssh://git@github.com/AngellusMortis/python-valve.git@f07f079#egg=python-valve # requires a change that has not been merged into upstream yet
